{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100 landing-content">
        <div class="row h-100">
            <div class="col text-center my-5">
                <h2>Small Batch Earrings Made in Ireland</h2>
                <div class="my-5">
                    <h2>
                        <a class="btn btn-outline-primary shop-now-button btn-lg text-logo py-3">Find Hand-Crafted Jewellery Now!</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}