<script type="text/javascript">
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 4;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }
    
    // Proper enable/disable of inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable on page load
    $('qty-input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    })

    // Increment Quantity
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentVal = parseInt($(closestInput).val());
        $(closestInput).val(currentVal + 1);
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Decrement Quantity
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentVal = parseInt($(closestInput).val());
        $(closestInput).val(currentVal - 1);
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });
</script>