/* Colour variables */
:root {
    --pink-white: rgb(255,247,257);
    --pink-dark: rgb(255,214,214);
    --pink-light: rgb(244,215,236);
    --blue: rgb(215,250,250);
    --black: rgb(0,0,0);
}

/* Site-Wide Styling */
html {
    height: 100%;
}

body {
    background-color: var(--pink-white);
    height: calc(100vh - 124px);
    color: var(--black);
}

header {
    height: auto;
    background-color: var(--pink-light);
}

.text-logo {
    text-transform: uppercase;
}

.border-blue {
    border: 3px solid var(--blue) !important;
}

.text-blue {
    color: var(--blue);
}

.update-link,
.remove-item {
    cursor : pointer !important;
}

/* Header Styling */
.main-logo-link {
    width: fit-content;
}

.header-container {
    padding-top: 124px;
}

.mobile-search {
    width: 60vw !important;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999;
}

.toast-capper {
    height: 4px;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* Landing Page Styling */
.site-button-primary {
    color: var(--black);
}

.site-button-primary:hover {
    background-color: var(--blue);
    color: black;
    border-color: var(--blue);
}

.landing-content {
    background: url('/media/dev-hero.jpg') no-repeat center center fixed;
    clear: both;
}

/* Table Styling */
table {
    --bs-table-bg: var(--pink-white) !important;
}

/* Allauth form styling */
.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    margin-top: 1rem;
    border-color: var(--black);
}

.allauth-form-inner-content .checkboxinput {
    margin-top: 0.5rem !important;
    border-color: var(--black);
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display:none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    text-decoration: none;
}

.allauth-form-inner-content .btn {
    color: var(--black) !important;
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}