<!-- Custom image upload template -->

{% if widget.is_initial %}
<p>{{ widget.initial_text }}:</p>
<a href="{{ widget.value.url }}" target="_blank"><img width="86" height="96" class="rounded shadow-sm"
        src="{{ widget.value.url }}"></a>
{% if not widget.required %}
<div class="mt-2">
    <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"
        {% if widget.attrs.disabled %}disabled{% endif %}>
    <label input class="text-danger" for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
</div>
{% endif %}
<br>
{{ widget.input_text }}
{% endif %}
<span class="btn site-button-primary border-blue btn-file">
    Select Image <input id="new-image" type="{{ widget.type }}" name="{{ widget.name }}"
        {% include "django/forms/widgets/attrs.html" %}>
</span>
<strong>
    <p class="small" id="filename"></p>
</strong>