<nav class="navbar navbar-expand-lg bg-light d-block">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <div class="dropdown text-center">
                <a href="#" class="nav-link dropdown-toggle" role="button" id="productMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Products
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="productMenuLink">
                    <li><a href="{% url 'products' %}?category=Another" class="dropdown-item">Another Category</a></li>
                    <li><a href="{% url 'products' %}?category=test" class="dropdown-item">Test Category</a></li>
                    <li><a href="{% url 'products' %}" class="dropdown-item">All Products</a></li>
                  </ul>
            </div>
        </li>
        <li class="nav-item dropdown">
            <div class="dropdown text-center">
                <a href="#" class="nav-link dropdown-toggle" role="button" id="offersMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Special Offers
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="offersMenuLink">
                    <li><a href="#" class="dropdown-item">New In</a></li>
                    <li><a href="#" class="dropdown-item">Last Chance</a></li>
                    <li><a href="#" class="dropdown-item">Special Offers</a></li>
                  </ul>
            </div>
        </li>
        <li class="nav-item dropdown">
            <div class="dropdown text-center">
                <a href="#" class="nav-link dropdown-toggle" role="button" id="aboutMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    About
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="aboutMenuLink">
                    <li><a href="#" class="dropdown-item">FAQs</a></li>
                    <li><a href="#" class="dropdown-item">Gallery</a></li>
                    <li><a href="#" class="dropdown-item">Contact</a></li>
                  </ul>
            </div>
        </li>
    </ul>
    </div>
  </div>
</nav>