<!-- Mobile site navbar -->
<ul>
<!-- Search dropdown option -->
<li class="list-inline-item dropdown">
    <div class="dropdown d-block d-lg-none">
        <a href="#" class="nav-link" role="button" id="mobile-search" data-bs-toggle="dropdown" aria-expanded="false">
            Search
        </a>
        <div class="dropdown-menu mobile-search w-100 p-3 mt-3" aria-labelledby="mobile-search">
            <form class="form" method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control" type="text" name="q" placeholder="Search">
                  <div class="form-control-append">
                    <button class="form-control border-blue btn site-button-primary" type="submit">
                      Search
                    </button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</li>

<!-- Account dropdown option -->
<li class="list-inline-item dropdown">
    <div class="dropdown d-block d-lg-none">
        <a href="#" class="nav-link" role="button" id="user-options" data-bs-toggle="dropdown" aria-expanded="false">
            My Account
        </a>
        <div class="dropdown-menu w-100 p-3 mt-3" aria-labelledby="user-options">
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                {% endif %}
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
        </div>
    </div>
</li>

<!-- Basket preview -->
<li class="list-inline-item">
    <a class="{% if grand_total %} text-info font-weight-bold{% else %}{% endif %} nav-link basket-link d-block d-lg-none" href="{% url 'view_basket' %}">
        <div class="text-center">
            <div><i class="bi bi-basket"></i></div>
            <p class="my-0">
                {% if grand_total %}
                    €{{ grand_total|floatformat:2 }}
                {% else %}
                    €0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>
</ul>
