{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <hr>
                <h2 class="text-logo">About</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <p>About Us</p>
            </div>
        </div>
    </div>
{% endblock %}

