{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <hr>
                <h2 class="text-logo">About</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1 text-center">
                <p class="lead">About Us</p>
                <p>Seoda By Sophie is an Irish producer of small batch hand-made resin earrings. Starting in Limerick in 2020,
                   our products have been on sale in boutiques and markets around the city as well as
                   on online retailers. With the launch of our own website in 2023 we are delighted to be able
                   to offer our customers our unique products directly.
                </p>
                <hr>
                <p>All of our earrings are crafted in small quantities using locally sourced materials.
                   Unfortunately, due to this once a batch are gone they are gone. 
                   However, if there is a particular pair you really like that are sold out feel free to 
                   <a href="#">get in touch</a> and we can see if there is anything we can do.
                </p>
                <hr>
                <p>
                    Got any Questions? Check out our <a href="{% url 'faqs' %}" class="d-inline">FAQs</a> or feel free
                    to get in touch <a href="#" class="d-inline">here</a>
                </p>    
            </div>
        </div>
    </div>
{% endblock %}

