<!-- Contact Page -->

{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <!-- Form to contact business, sends an email with message to site email account -->
    <div class="row">
        <div class="col text-center mt-3">
            <hr>
            <h2 class="text-logo">Get In Touch</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1 text-center">
            <form action="{% url 'contact' %}" method="POST" id="contact-form">
                {% csrf_token %}
                {{ contact_form|crispy }}
                <button class="btn site-button-primary border-blue mt-2" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}