<!-- Template for FAQs accordion taken from Bootstrap Docs
Can be found here:
https://getbootstrap.com/docs/5.0/components/accordion/ -->

{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'about/static/css/about.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <hr>
                <h2 class="text-logo">FAQs</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1 text-center">
                {% for category in categories %}
                    <h4 class="text-muted">{{ category.friendly_name }}</h4>
                    {% for faq in faq %}
                        {% if faq.category == category %}
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{faq.id}}" aria-expanded="true" aria-controls="collapseOne">
                                    {{ faq.question }}
                                    </button>
                                </h2>
                                <div id="collapse{{faq.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                    <strong>{{ faq.answer }}</strong>
                                    </div>
                                </div>
                                </div>
                            </div>
                        {% endif %} 
                    {% endfor %}
                  {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

